[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
{% if '127.0.0.1' in gitea_database_uri %}
After=mariadb.service
{% endif %}

[Service]
Type=simple
User={{ gitea_username }}
Group={{ gitea_username }}
WorkingDirectory={{ gitea_home }}
ExecStart={{ gitea_install_dir ~ '/' ~ gitea_version ~ '/gogs web' }}
RestartSec=1
Restart=always
Environment=USER={{ gitea_username }} HOME={{ gitea_home }} GOGS_CUSTOM={{ gitea_home }}/custom

[Install]
WantedBy=multi-user.target
