[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
{% if '127.0.0.1' in gogs_database_uri %}
After=mariadb.service
{% endif %}

[Service]
Type=simple
User={{ gogs_username }}
Group={{ gogs_username }}
WorkingDirectory={{ gogs_home }}
ExecStart={{ gogs_install_dir ~ '/' ~ gogs_version ~ '/gogs web' }}
RestartSec=1
Restart=always
Environment=USER={{ gogs_username }} HOME={{ gogs_home }} GOGS_CUSTOM={{ gogs_home }}/custom

[Install]
WantedBy=multi-user.target
